[submodule ".zshplugins/gitstatus"]
	path = .zshplugins/gitstatus
	url = git@github.com:romkatv/gitstatus
[submodule ".zshplugins/zsh-syntax-highlighting"]
	path = .zshplugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting
[submodule ".zshplugins/zsh-completions"]
	path = .zshplugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions
[submodule ".zshplugins/zsh-autosuggestions"]
	path = .zshplugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions
