[submodule ".zshplugins/gitstatus"]
	path = .zshplugins/gitstatus
	url = https://github.com/romkatv/gitstatus
[submodule ".zshplugins/zsh-syntax-highlighting"]
	path = .zshplugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".zshplugins/zsh-completions"]
	path = .zshplugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".zshplugins/zsh-autosuggestions"]
	path = .zshplugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
